@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@import "_variables";
@import "header";
@import "top_list";
@import "login_modal";
@import "donation";

body {
  margin: 0;
  background-color: $background-light;
  font-family: Montserrat, serif;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}